
/* pasado */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace; 
}


body{
    background-color:#E6E5E5;
}

/* HEADER */

/* HEADER INDEX BOOTSTRAP */

/* pasado */
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 215px;
    margin: 0 auto;
    padding-top: 40px;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
    position: sticky;
}

/* pasado */
.navbar{
    width: 95%;

}

/* pasado */
.justify-content-end{
    align-items: center;
    padding-left: 2.9rem;
    padding-top: 1rem;
}

/* pasado */
.headerUno{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* pasado */
.navbar-brandTitulo{
    padding-left: 1.5rem;
    transition: all 0.5s ease-in-out;
}

/* pasado */
.navbar-brandTitulo:hover{
    transform: scale(1.2);
}

/* FALTA PASAR */
li a{
    transition: all 0.5s ease-in-out;
}

li a:link{
    color: black;

}

li a:visited{
    color: black;
    font-weight: bold;
}

li a:active{
    font-weight: bold;
}

/* pasado */
header .navbar-brandTitulo{
    width: fit-content;
    font-size: 7.5rem;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    color: black;
}

@media screen and (max-width:1080px){
    header{
        height: auto;
        padding-top: 40;
        padding-left: 0.3rem;
    }
}

@media screen and (max-width:350px){
    .navbar>.container-fluid{
        justify-content: center;
        padding: 1rem;

    }

    .justify-content-end{
        padding-left: 2.2rem;
    }

}

/* MAIN */

/* pasado */
.mainHome{
    margin: 0 auto;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}

/* pasado */
.textoMain{
    width: 100%;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    background-color: #D9D9D9;
    padding: 10px;
    margin: 60px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/* pasado */
.display-2{
    font-size: 1.2rem;
    font-weight: bold;
}


.fondoMain{
    width: 95%;
    height: 80%;
}

.imagenHome{
    width: 100%;
    height: 100%;
    max-height: 450px;
    margin-bottom: 2rem;
    object-fit: cover;
    object-position: center;
}

/* FOOTER */

/* pasado */
footer{
    background-color: white;
    box-shadow: 0px -7px 20px rgba(0, 0, 0, 0.30);
    position: sticky;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    width: 80%;
    height: 100px;
}


.derechosAutor{
    display: flex;
    align-items:baseline;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

.display-3{
    font-size: 1rem;
    font-weight: bold;
}

/* pasado */
.footerRedes{
    display: flex;
    justify-content:flex-end;
    padding: 0 30px;
}

/* pasado */
.footerRedes a{
    padding: 10px;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

/* pasado */
.footerRedes a:hover{
    transform: scale(1.5);
}

@media screen and (max-width:1080px){
    .footerRedes{
        display: flex;
        justify-content: center;
        padding: 0 30px;
    }
}

/* CSS SOBRE MI */

.mainSobreMi{
    margin: 0 auto;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}


.descripcionMasImagen{ 
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}


.imagenSobreMi{
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.descripcionMain{
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 15px;
    width: 70%;
    margin: 0 50px;
}

p{
    margin: 10px;
}

@media screen and (max-width:1080px){
    .descripcionMasImagen{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 2rem;
    }

    .descripcionMain{
        width: 90%;
    }
}

/* HEADER FO.ART BOOTSTRAP */

/*  
header{
    background-color: white;
    display: grid;
    width: 80%;
    height: 215px;
    margin: 0 auto;
    padding-top: 40px;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
    position: sticky;
    justify-items: center;
    align-items:center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas: "tituloHome menuHome";
}

.tituloHome{
    transition: all 0.5s ease-in-out;
}

.tituloHome:hover{
    transform: scale(1.2);
}

header .tituloHome a{
    width: fit-content;
    font-family: 'Inconsolata', monospace;
    font-size: 7.5rem;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    color: black;
}

@media screen and (max-width:1080px){
    header{
        height: auto;
        padding-top: 40;
        padding-left: 1rem;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        grid-template-areas: "tituloHome menuHome"
                            ;
    }

    .headerHome nav ul li{
        margin-bottom: 1rem;
    }
}

*/

/* MAIN CSS FO. FOART*/


.fondoFoart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "fotoUno fotoDos fotoTres fotoCuatro";
    width: 100%;
    justify-items: center;
    align-items: center;
    margin: 0 0 2rem 0;
}

.fotoArt{
    width: 250px;
    height: 450px;
    object-fit: cover;
    object-position: center;
}

.fotoUno{
    grid-area: fotoUno;
}

.fotoDos{
    grid-area: fotoDos;
}

.fotoTres{
    grid-area: fotoTres;
}

.fotoCuatro{
    grid-area: fotoCuatro;
}

/* carrusel foart y arq */

.carousel-inner{
    width: 80%;
    height: 700px;
    margin:0 auto;
    margin-bottom: 2.5rem;
}

.carousel-item{
    width: 100%;
    height: 100%;
    max-height: 50rem;
    margin-bottom: 2rem;
    object-fit: cover;
    object-position: center;
}

.carousel-item img{
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width:1270px){
    .fondoFoart{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "fotoUno fotoDos"
            "fotoTres fotoCuatro";
        gap: 1rem;
        width: 60%;
        
    }
}

.carousel-inner{
    width: 80%;
    height: 700px;
    margin:0 auto;
    margin-bottom: 2rem;
}

@media screen and (max-width:1080px){
    .fondoFoart{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "fotoUno"
            "fotoDos"
            "fotoTres"
            " fotoCuatro";
        gap: 1rem;
        width: 60%;
    }

    .fotoArt{
        width: 100%;
        height: 100%;
    }

    .carousel-item{
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;
        object-fit: cover;
        object-position: center;
    }

    .carousel-inner{
        width: 80%;
        height: 300px;
        margin:0 auto;
        margin-bottom: 2rem;
    }
}


/* CSS FO. FOARQ*/

.fondoFoarq{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "fotoUno fotoDos fotoTres fotoCuatro";
    width: 100%;
    justify-items: center;
    align-items: center;
    margin: 0 0 2rem 0;
}

.fotoArq{
    width: 250px;
    height: 450px;
    object-fit: cover;
    object-position: center;
}

.fotoUno{
    grid-area: fotoUno;
}

.fotoDos{
    grid-area: fotoDos;
}

.fotoTres{
    grid-area: fotoTres;
}

.fotoCuatro{
    grid-area: fotoCuatro;
}

@media screen and (max-width:1270px){
    .fondoFoarq{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "fotoUno fotoDos"
            "fotoTres fotoCuatro";
        gap: 1rem;
        width: 60%;
        
    }
}

@media screen and (max-width:1080px){
    .fondoFoarq{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "fotoUno"
            "fotoDos"
            "fotoTres"
            " fotoCuatro";
        gap: 1rem;
        width: 60%;
    }

    .fotoArq{
        width: 100%;
        height: 100%;
    }
}

/* CSS CONTACTO */

.formularioPadre{
    font-family: 'Inconsolata', monospace;
    width: 90%;
    margin: auto;
    max-width: 400px;
    padding: 3.5em 1.5em;
}

.formularioConteiner{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.formulario{
    font-family: 'Inconsolata', monospace;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #D9D9D9;
    border-radius: 0.2em;
}

.formularioMensaje{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.enviar{
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 1rem;
    background-color: #D9D9D9;
    border: none;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
}

.restablecer{
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 1rem;
    background-color: #D9D9D9;
    border: none;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
}

@media (max-width:450px){
    .formularioPadre{
        padding: 3.5em 1em;
    }
}

/* mediaqueries general */

@media screen and (max-width:1080px){
    header{
        width: 90%;
    }

    .headerFoart{
        width: 90%;
    }

    .mainHome{
        width: 90%;
    }

    .mainSobreMi{
        width: 90%;
    }

    footer{
        width: 90%;
    }
}
