.mainContacto{
    margin: 0 auto;
    width: 80%;
    background-color: nth($colores, 1);
    @include flex-column;
    .textoContacto{
        @include medidas(100%, 45px);
        font-family: 'Inconsolata', monospace;
        text-align: center;
        background-color: nth($colores, 3);
        margin: 40px;
        box-shadow: 0px 4px 10px nth($colores, 5);
        .display-2{
            font-size: 35px;
        }
    }
    .formularioPadre{
        font-family: 'Inconsolata', monospace;
        width: 90%;
        margin: auto;
        max-width: 400px;
        padding-top: 2em;
        padding-bottom: 2em;
        .formularioConteiner{
            width: 100%;
            display: grid;
            gap: 1em;
            grid-auto-columns: 100%;
            .formulario{
                font-family: 'Inconsolata', monospace;
                font-size: 1rem;
                padding: .8em 1em;
                outline: none;
                border: none;
                border: 1px solid nth($colores, 3);
                border-radius: 0.2em;
            }
            .formularioMensaje{
                resize: none;
                padding: 1.8em 1em;
                margin-bottom: .5em;
            }
            .enviar{
                font-family: 'Inconsolata', monospace;
                font-weight: bold;
                font-size: 1rem;
                background-color: nth($colores, 3);
                border: none;
                padding: .7em 0;
                border-radius: .2em;
                cursor: pointer;
            }
            .restablecer{
                font-family: 'Inconsolata', monospace;
                font-weight: bold;
                font-size: 1rem;
                background-color: nth($colores, 3);
                border: none;
                padding: .7em 0;
                border-radius: .2em;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width:1080px){
    .mainContacto{
        width: 90%;
    }
}

@media (max-width:450px){
    .mainContacto{
        .formularioPadre{
            padding: 3.5em 1em;
        }
    }
}