.mainArtArq{
    margin: 0 auto;
    width: 80%;
    background-color:  nth($list: $colores, $n:1);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    .textoMain{
        width: 100%;
        height: 45px;
        font-family: 'Inconsolata', monospace;
        font-size: 30px;
        text-align: center;
        background-color:  nth($list: $colores, $n:3);
        margin: 60px;
        box-shadow: 0px 4px 10px  nth($list: $colores, $n:5);
        overflow: hidden;
        .listaBaner{
            line-height: 40px;
            list-style: none;
            padding: 0;
            margin: 0;
            animation: cambiar 10s infinite;
            font-weight:500;
        }

        @keyframes cambiar {
            0%{ margin-top: 0;}
            10%{ margin-top: 0;}

            15% {margin-top: -40px;}
            30% {margin-top: -40px;}

            35% {margin-top: -80px;}
            50% {margin-top: -80px;}

            55% {margin-top: -120px;}
            70% {margin-top: -120px;}

            75% {margin-top: -160px;}
            90% {margin-top: -160px;}

            100% {margin-top: 0;}
        }
    }

    .container-carousel{
        .row{
            .carousel{
                .carousel-inner{
                    width: 80%;
                    height: 1000px;
                    margin:0 auto;
                    margin-bottom: 1rem;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 10px;
                    .carousel-item{
                        width: 100%;
                        height: 100%;
                        margin-bottom: 1rem;
                        object-fit: cover;
                        object-position: center;
                        img{
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1270px){
    .mainArtArq{
        .container-carousel{
            .row{
                .carousel{
                    .carousel-inner{
                        width: 90%;
                        height: 90%;
                        margin:0 auto;
                        margin-bottom: 1rem;
                        border-radius: 10px;
                        .carousel-item{
                            width: 100%;
                            height: 100%;
                            margin-bottom: 1rem;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:512px){
    .mainArtArq{
        .textoMain{
            width: 100%;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        }
        .container-carousel{
            .row{
                .carousel{
                    .carousel-inner{
                        width: 90%;
                        height: 80%;
                        margin:0 auto;
                        margin-bottom: 1rem;
                        border-radius: 10px;
                        .carousel-item{
                            width: 100%;
                            height: 100%;
                            margin-bottom: 1rem;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1080px){
    .mainArtArq{
        width: 90%;
    }
}