.mainArtArq{
    margin: 0 auto;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    .textoMain{
        width: 100%;
        font-family: 'Inconsolata', monospace;
        text-align: center;
        background-color: #D9D9D9;
        padding: 10px;
        margin: 60px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        .display-2{
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
    .container-carousel{
        .row{
            .carousel{
                .carousel-inner{
                    width: 80%;
                    height: 1000px;
                    margin:0 auto;
                    margin-bottom: 1rem;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 10px;
                    .carousel-item{
                        width: 100%;
                        height: 100%;
                        margin-bottom: 1rem;
                        object-fit: cover;
                        object-position: center;
                        img{
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1270px){
    .mainArtArq{
        .container-carousel{
            .row{
                .carousel{
                    .carousel-inner{
                        width: 90%;
                        height: 90%;
                        margin:0 auto;
                        margin-bottom: 1rem;
                        border-radius: 10px;
                        .carousel-item{
                            width: 100%;
                            height: 100%;
                            margin-bottom: 1rem;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:512px){
    .mainArtArq{
        .textoMain{
            width: 100%;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        }
        .container-carousel{
            .row{
                .carousel{
                    .carousel-inner{
                        width: 90%;
                        height: 80%;
                        margin:0 auto;
                        margin-bottom: 1rem;
                        border-radius: 10px;
                        .carousel-item{
                            width: 100%;
                            height: 100%;
                            margin-bottom: 1rem;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1080px){
    .mainArtArq{
        width: 90%;
    }
}