.mainSobreMi{
    margin: 0 auto;
    width: 80%;
    background-color:  nth($list: $colores, $n:1);
    @include flex-column;
    .textoMain{
        @include medidas(100%, 45px);
        font-family: 'Inconsolata', monospace;
        font-size: 30px;
        text-align: center;
        background-color:  nth($list: $colores, $n:3);
        margin: 60px;
        box-shadow: 0px 4px 10px  nth($list: $colores, $n:5);
        overflow: hidden;
        .listaBaner{
            line-height: 40px;
            list-style: none;
            padding: 0;
            margin: 0;
            animation: cambiar 10s infinite;
            font-weight:500;
        }

        @keyframes cambiar {
            0%{ margin-top: 0;}
            10%{ margin-top: 0;}

            15% {margin-top: -40px;}
            30% {margin-top: -40px;}

            35% {margin-top: -80px;}
            50% {margin-top: -80px;}

            55% {margin-top: -120px;}
            70% {margin-top: -120px;}

            75% {margin-top: -160px;}
            90% {margin-top: -160px;}

            100% {margin-top: 0;}
        }
    }

    .descripcionMasImagen{
        @include flex-row;
        .fondoSobreMi{
            .imagenSobreMi{
                width: 100%;
                object-fit: cover;
                object-position: bottom;
            }
        }
        .descripcionMain{
            font-family: 'Inconsolata', monospace;
            font-weight: bold;
            font-size: 15px;
            width: 70%;
            margin: 0 50px;
            p{
                margin: 10px;
            }
        }
    }
}

@media screen and (max-width:1080px){
    .mainSobreMi{
        width: 90%;
        .descripcionMasImagen{
            @include flex-column;
            padding-bottom: 2rem;
            }
            .descripcionMain{
                width: 90%;
            }
        }
    }