header{
    background-color:  nth($colores, 1);
    @include medidas(80%, 215px);
    margin: 0 auto;
    padding-top: 10px;
    box-shadow: 0px 2px 15px nth($colores, 5);
    position: sticky;
    .navbar{
        width: 95%;
        .headerUno{
            width: 100%;
            .navbar-brandTitulo{
                width: fit-content;
                font-size: 7.5rem;
                font-weight: bold;
                text-decoration: none;
                list-style: none;
                color:  nth($colores, 2);
                padding-left: 1.5rem;
                transition: all 0.5s ease-in-out;

                &:hover{
                    transform: scale(1.2);
                }
            }
            .navbar-collapse{
                .justify-content-end{
                    align-items: center;
                    padding-left: 2.9rem;
                    padding-top: 1rem;
                    font-size: 1.1rem;

                    a{
                        font-weight: bold;
                        transition: all 400ms ease;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .dark-mode-button{
        display: flex;
        align-items: center;
        position:absolute;
        top: 20px;
        right: 20px;
    }
}

@media screen and (max-width:1080px){
    header{
        @include medidas(90%, auto);
        padding-top: 40;
        padding-left: 0.3rem;
    }
}

@media screen and (max-width:350px){
    header{
        .navbar{
            .headerUno{
                justify-content: center;
                padding: 1rem;
                .navbar-collapse{
                    .justify-content-end{
                        padding-left: 2.2rem;
                    }
                }
            }
        }
    }

}