header{
    background-color:  nth($list: $colores, $n:1);
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 215px;
    margin: 0 auto;
    padding-top: 40px;
    box-shadow: 0px 7px 20px  nth($list: $colores, $n:5);
    position: sticky;
    .navbar{
        width: 95%;
        .headerUno{
            display: flex;
            justify-content: space-between;
            width: 100%;
            .navbar-brandTitulo{
                width: fit-content;
                font-size: 7.5rem;
                font-weight: bold;
                text-decoration: none;
                list-style: none;
                color:  nth($list: $colores, $n:2);
                padding-left: 1.5rem;
                transition: all 0.5s ease-in-out;

                &:hover{
                    transform: scale(1.2);
                }
            }
            .navbar-collapse{
                .justify-content-end{
                    align-items: center;
                    padding-left: 2.9rem;
                    padding-top: 1rem;
                    font-size: 1.1rem;

                    a{
                        font-weight: bold;
                        transition: all 400ms ease;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1080px){
    header{
        height: auto;
        width: 90%;
        padding-top: 40;
        padding-left: 0.3rem;
    }
}

@media screen and (max-width:350px){
    header{
        .navbar{
            .headerUno{
                justify-content: center;
                padding: 1rem;
                .navbar-collapse{
                    .justify-content-end{
                        padding-left: 2.2rem;
                    }
                }
            }
        }
    }

}