html.dark-mode{
    filter: invert(89%);
}

html.dark-mode .grid-container{
    filter: invert(100%);
}

html.dark-mode img{
    filter: invert(100%);
}

html.dark-mode .footerRedes{
    filter: invert(100%);
}



[type="checkbox"]{display: none;}

.lunita{
    width: 16px;
}