@mixin flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@mixin flex-row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-paraGrid{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin background-Grid{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin medidas($width, $height){
    width: $width;
    height: $height;
}
